<div class="pagination">
    {{#if prev}}
        <a class="page-btn" href="{{page_url prev}}">
            <svg class="icon" aria-hidden="true">
				<use xlink:href="#icon-left"></use>
			</svg>
            上一页
        </a>
        {{else}}
        <a class="page-btn-disabled" disabled="disabled">
            <svg class="icon" aria-hidden="true">
				<use xlink:href="#icon-left"></use>
			</svg>
            上一页
        </a>
    {{/if}}
    
    <span class="page-num">第{{page}}页/ 共{{pages}}页</span>
    {{#if next}}
        <a class="page-btn" href="{{page_url next}}">
            下一页
            <svg class="icon" aria-hidden="true">
				<use xlink:href="#icon-right"></use>
			</svg>
        </a>
        {{else}}
        <a class="page-btn-disabled" disabled="disabled">
            下一页
            <svg class="icon" aria-hidden="true">
				<use xlink:href="#icon-right"></use>
			</svg>
        </a>
    {{/if}}
</div>