{{#foreach posts}}
    <article>
        <div class="post-list-item">
            <div class="post-list-cover">
                <a href="{{url}}">

                    {{#if feature_image}}
                        <img src="{{img_url feature_image}}" alt=""/>
                    {{else}}
                        <img src="{{asset "img/default.png"}}" alt=""/>
                    {{/if}}
                </a>

                
            </div>
            <div class="post-list-info">
                <span class="post-tag">{{tags prefix="" separator=" "}}</span>
                <h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                <div class="post-excerpt">
                    <p>{{excerpt words="10"}}</p>
                </div>
                <div class="post-meta">
                    <time class="post-date">{{date format="YYYY-MM-DD"}}</time>
                    {{!-- 文章id：{{id}} --}}
                    <a href="{{url}}" class="btn-post-excerpt">阅读原文</a>
                </div>
            </div>            
        </div>
    </article>
{{/foreach}}

{{pagination}}